

header {
    font-family: "ProximaNova-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #222529;
    text-align: center;
    color: #F6F6F6;
    -webkit-transform:scale(2.0, 1.0);
    -moz-transform:scale(2.0, 1.0);
    -ms-transform:scale(2.0, 1.0);
    -o-transform:scale(2.0, 1.0);
    transform:scale(2.2,2.0);
}

body {
    /* background-color: #F2F3EF; */
    background-image: linear-gradient(grey, black);
}

.fullCourse {
    display: block;
}

.operatorButton {
    background-color: transparent;
    margin: none;
    border: none;
}

.operatorSign {
    width: 50px;
    cursor: pointer;
}

.mSign {
    width: 50px;
    cursor: pointer;
    margin-left: 925px;
}