.courseLevel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.operatorButton {
    background-color: transparent;
    margin: none;
    border: none;
}

span {
    text-align: center;
}

.deleteButton {
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    height: 30px;
    width: 150px;
}

.visibleEmpty {
    width: 250px;
    cursor: pointer;
}

.hiddenEmpty {
    display: none;
}